.calculatorSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .calculator {
        width: 20%;
        border: 2px solid #00000070;
        background-color: #c9ff76;
        border-radius: 10px;

        .calTopSection {
            height: 150px;

            input {
                background-color: transparent;
                color: black;
                border: none;
                font-size: 35px;
                font-weight: 600;
                padding: 20px 15px;
                text-align: end;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
        }

        .calBottomSection {
            text-align: center;

            .row {
                margin-right: 0px;
                margin-left: 0px;

                .column {
                    padding: 0px;
                    margin: 5px 0px;

                    button {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }
    }
}